<h1>Add Student</h1>
<form [formGroup]="addstudent" (ngSubmit)="addStudent(addstudent.value)">

  <label>name:</label><br>
  <input type="text" placeholder="name" formControlName="name"><br>
  <input type="text" placeholder="mobileNo" formControlName="mobileNo">
  <br>
  <input type="text" placeholder="address" formControlName="address">
  <br>
  <input type="text" placeholder="pincode" formControlName="pincode">
  <br>
  <input type="text" placeholder="city" formControlName="city">
  <br>
  <input type="text" placeholder="state" formControlName="state">
  <br>

  <button type="submit" [disabled]="!addstudent.valid">Save</button>

</form>